<fieldset class="cf bn ma0 pa0">
  <legend class="pa0 f5 f4-ns mb3">Enter your Podcast Feed</legend>
  <div class="cf">
    <label class="clip" for="feed_url">podcast feed URL</label>
    <input class="f6 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns br--left-ns" placeholder="podcast feed URL" type="text" name="feed_url" value="" id="feed_url" />
    <input class="f6 f5-l button-reset fl pv3 tc bn bg-animate bg-black-70 hover-bg-black white pointer w-100 w-25-m w-20-l br2-ns br--right-ns" type="submit" value="Generate" />
  </div>
</fieldset>
