<meta property="og:url" content="<%= Plug.Conn.request_url(@conn) %>" />
<meta property="og:title" content="Create universal subscription links for your podcast to share." />
<meta property="og:description" content="Easily share the Podlove Subscribe Button for listeners to subscribe. Works on every platform: iOS, Android, mobile and desktop." />
